In [ ]:
import pandas as pd

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [8]:
california_housing = datasets.fetch_california_housing()

data_frame = pd.DataFrame(california_housing.data, columns=california_housing.feature_names)

In [29]:
data_frame.head()

   MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127  ...  2.555556     37.88    -122.23
1  8.3014      21.0  6.238137  ...  2.109842     37.86    -122.22
2  7.2574      52.0  8.288136  ...  2.802260     37.85    -122.24
3  5.6431      52.0  5.817352  ...  2.547945     37.85    -122.25
4  3.8462      52.0  6.281853  ...  2.181467     37.85    -122.25

[5 rows x 8 columns]

In [28]:
print(california_housing.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

:Number of Instances: 20640

:Number of Attributes: 8 numeric, predictive attributes and the target

:Attribute Information:
    - MedInc        median income in block group
    - HouseAge      median house age in block group
    - AveRooms      average number of rooms per household
    - AveBedrms     average number of bedrooms per household
    - Population    block group population
    - AveOccup      average number of household members
    - Latitude      block group latitude
    - Longitude     block group longitude

:Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. rubric:: References

- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
  Statistics and Probability Letters, 33:291-297, 1997.

In [23]:
data_frame_target = pd.DataFrame(california_housing.target, columns=california_housing.target_names)
data_frame_target.head()

   MedHouseVal
0        4.526
1        3.585
2        3.521
3        3.413
4        3.422

In [24]:
X = data_frame # features
y = data_frame_target # target

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) # 80% training and 20% test

In [26]:
X_train

       MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
14196  3.2596      33.0  5.017657  ...  3.691814     32.71    -117.03
8267   3.8125      49.0  4.473545  ...  1.738095     33.77    -118.16
17445  4.1563       4.0  5.645833  ...  2.723214     34.66    -120.48
14265  1.9425      36.0  4.002817  ...  3.994366     32.69    -117.11
2271   3.5542      43.0  6.268421  ...  2.300000     36.78    -119.80
...       ...       ...       ...  ...       ...       ...        ...
11284  6.3700      35.0  6.129032  ...  3.032258     33.78    -117.96
11964  3.0500      33.0  6.868597  ...  3.904232     34.02    -117.43
5390   2.9344      36.0  3.986717  ...  3.332068     34.03    -118.38
860    5.7192      15.0  6.395349  ...  3.178891     37.58    -121.96
15795  2.5755      52.0  3.402576  ...  2.108696     37.77    -122.42

[16512 rows x 8 columns]

In [27]:
y_train

       MedHouseVal
14196        1.030
8267         3.821
17445        1.726
14265        0.934
2271         0.965
...            ...
11284        2.292
11964        0.978
5390         2.221
860          2.835
15795        3.250

[16512 rows x 1 columns]

In [30]:
scaler = StandardScaler()

In [ ]:
X_train_scaled = scaler.fit_transform(X_train) # fit to training data and transform it
X_test_scaled = scaler.transform(X_test) # transform test data based on training data scaling

In [32]:
X_train_scaled

array([[-0.326196  ,  0.34849025, -0.17491646, ...,  0.05137609,
        -1.3728112 ,  1.27258656],
       [-0.03584338,  1.61811813, -0.40283542, ..., -0.11736222,
        -0.87669601,  0.70916212],
       [ 0.14470145, -1.95271028,  0.08821601, ..., -0.03227969,
        -0.46014647, -0.44760309],
       ...,
       [-0.49697313,  0.58654547, -0.60675918, ...,  0.02030568,
        -0.75500738,  0.59946887],
       [ 0.96545045, -1.07984112,  0.40217517, ...,  0.00707608,
         0.90651045, -1.18553953],
       [-0.68544764,  1.85617335, -0.85144571, ..., -0.08535429,
         0.99543676, -1.41489815]], shape=(16512, 8))

In [33]:
regressor = LinearRegression().fit(X_train_scaled, y_train)

In [34]:
results = regressor.predict(X_test_scaled)

In [35]:
results

array([[0.71912284],
       [1.76401657],
       [2.70965883],
       ...,
       [4.46877017],
       [1.18751119],
       [2.00940251]], shape=(4128, 1))

In [36]:
regressor.score(X_test_scaled, y_test)

0.5757877060324508